.aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  z-index: 11;
  justify-content: center;
  width: 60%;
  column-gap: 100px;
  position: relative;
  padding: 140px 0px;
  background-color: #000000;
  @media screen and (max-width: 1100px) {
    width: 80%;
    column-gap: 50px;
    padding: 30px 0px;
  }
  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
  .left {
    .sectionTitle {
      font-size: 42px;
    }
    p {
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 19px;
      max-width: 730px;
      opacity: 0.7;
      @media screen and (max-width: 1000px) {
        font-size: 17px;
      }
      @media screen and (max-width: 600px) {
        font-size: 16px;
      }
      @media screen and (max-width: 480px) {
        font-size: 14px;
      }
    }
  }
  .right {
    @media screen and (max-width: 800px) {
      display: flex;
      justify-content: center;
    }
    .aboutPic {
      width: 350px;
      height: 535px;
      background-color: #fff;
      @media screen and (max-width: 800px) {
        width: 80%;
        height: 50vh;
        object-fit: cover;
      }
      @media screen and (max-width: 600px) {
        width: 80%;
        height: 320px;
        object-fit: cover;
      }
    }
  }
}
.homePageShadows {
  position: absolute;
  height: 300px;
  width: 300px;
  z-index: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(100px);
  will-change: transform;

  @media screen and (max-width: 500px) {
    width: 200px;
    height: 200px;
  }
}
.productShadowTop {
  top: 10%;
  left: +10%;
  right: auto;
}

.productShadowBottom {
  bottom: 0px;
  left: auto;
  right: 0%;
}
.main {
  background-color: hsl(0, 0%, 0%);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainSection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}
.secondSection {
  width: 100%;
  height: 100vh;
}
.title {
  color: black;
}
.parallaxEffectImage{
  position: relative;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  h1{
    text-align: center;
  }
}