.heroMainPageContainer{
  background-color: #000000;
  position: relative;
  z-index: 11;
  width: 60%;
  padding: 140px 0px;
  @media screen and (max-width: 1620px) {
    width: 80%;
  }
  @media screen and (max-width: 1200px) {
    width: 90%;
  }
  @media screen and (max-width: 720px) {
    margin-top: 270px;
    padding: 0px;
  }
}
.heroPageContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  column-gap: 40px;
  flex-direction: row;
  @media screen and (max-width: 720px) {
    flex-direction: column-reverse;
  }

  .homePageShadows {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(100px);
    will-change: transform;

    @media screen and (max-width: 500px) {
      width: 200px;
      height: 200px;
    }
  }
  .productShadowTop {
    top: 10px;
    left: -8%;
    right: auto;
  }

  .productShadowBottom {
    bottom: 0px;
    left: auto;
    right: 0%;
  }
  .leftSide {
    width: 60%;
    @media screen and (max-width: 720px) {
      width: 90%;
    }
    .title {
      display: flex;
      flex-direction: column;
      p {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 19px;
        font-weight: 400;
        max-width: 850px;
        opacity: 0.7;
        margin-top: 22px;
        @media screen and (max-width: 1000px) {
          font-size: 17px;
        }
        @media screen and (max-width: 600px) {
          font-size: 15px;
        }
        @media screen and (max-width: 480px) {
          font-size: 13px;
        }
      }
    }
    .subTextContainer {
      display: flex;
      align-items: center;
      white-space: nowrap;
    }
  }
  h1 {
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 900;
    line-height: 73px;
    font-weight: 900;
    text-shadow: 2px 0 #fff;
    letter-spacing: 2px;
    font-weight: bold;
    width: fit-content;
    @media screen and (max-width: 1000px) {
      font-size: 45px;
      line-height: 28px;
    }
    @media screen and (max-width: 480px) {
      font-size: 36px;
    }
  }
  .rightSide {
    position: relative;
    width: 40%;
    @media screen and (max-width: 720px) {
      width: 90%;
    }
    div {
      width: 100%;
      position: absolute;
      left: 0px;
      top: -140px;
      @media screen and (max-width: 900px) {
        top: -95px;
      }
      @media screen and (max-width: 720px) {
        top: -175px;
      }
      }
  }
}
