.mainTitle {
  color: white;
  font-family: Helvetica;
  font-size: 150px;
  letter-spacing: -4px;
  position: relative;
  color: transparent;
  background-image: linear-gradient(to right, white, white, transparent);
  background-size: 200% 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position-x: 200%;
  animation: 2s fillup ease-in-out 2s forwards;
}

@media screen and (max-width: 1000px) {
  .mainTitle {
    font-size: 100px;
  }
}
@media screen and (max-width: 600px) {
  .mainTitle {
    font-size: 90px;
  }
}
@media screen and (max-width: 480px) {
  .mainTitle {
    font-size: 50px;
    letter-spacing: 0.7px;
  }
}

@media screen and (min-width: 1000px) {
  .scrolledMainTitle {
    font-size: 140px;
    transition: 0.5s all ease-in-out;
  }
}
@media screen and (max-width: 1000px) {
  .scrolledMainTitle {
    font-size: 110px;
    transition: 0.5s all ease-in-out;
  }
}
@media screen and (max-width: 600px) {
  .scrolledMainTitle {
    font-size: 100px;
    transition: 0.5s all ease-in-out;
  }
}
@media screen and (max-width: 480px) {
  .scrolledMainTitle {
    font-size: 60px;
    transition: 0.5s all ease-in-out;
  }
}


@media screen and (max-width: 350px) {
  .scrolledMainTitle {
    font-size: 40px;
  }
}

.mainTitle::after {
  content: "Hi There!";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color: white;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  animation: 2s fadein ease-in-out forwards;
}

@media screen and (-webkit-min-device-pixel-ratio: 0)  {
  .mainTitle::after {
    top: 12px; /* Adjust only for macOS */
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1000px) {
  .mainTitle::after {
    top: 7px; /* Adjust only for macOS */
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 480px) {
  .mainTitle::after {
    top: 4px; /* Adjust only for macOS */
  }
}

@keyframes fillup {
  from {
    background-position-x: 200%;
  }
  to {
    background-position-x: 0%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
